<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <header class="menu-bg">
    <div class="menu">
      <div class="menu-logo">
        <a href="/">
          <img src="/img/logo_header_mobile.svg" alt="logo rayan gracie">
        </a>
      </div>
    </div>
      </header>
     
  <section class="login">
    <h2>Login</h2>
    <div class="login-form">
      <form action="" method="post">
         <label for="user">Usuário</label> 
         <input type="text" name="user">
         <label for="senha">Senha</label>
         <input type="password" name="senha">
        <button type="submit">Entrar</button>
      </form>
    </div>
  </section>
<section class="container">
  <footer class="footer">FOOTER</footer>
</section>
  
</body>

</html>